{% extends 'website/base.html' %}
{% load static %}

{% block content %}

{% include 'website/includes/_navbar2.html' %}

<section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1>Blogs</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center bg-transparent p-0 m-0">
            <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a>
            </li>
            <li class="breadcrumb-item"><a class="text-dark" href="/blogs">Blogs</a>
            </li>
            <li class="breadcrumb-item">First Blog</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Blog Card -->
        <div class="card border-0 bg-transparent">
          <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
            <br>July</div>
          <img class="card-img-top shadow rounded" src="{% static "website/images/blog/01.png"%}" alt="Image">
          <div class="card-body pt-5 px-0">
            <ul class="list-inline">
              <li class="list-inline-item pr-4"> <a href="#" class="text-muted"><i class="ti-comments mr-1 text-primary"></i> 131</a>
              </li>
              <li class="list-inline-item pr-4"> <a href="#" class="text-muted"><i class="ti-eye mr-1 text-primary"></i> 255</a>
              </li>
              <li class="list-inline-item"> <a href="#" class="text-muted"><i class="ti-comments mr-1 text-primary"></i> 14</a>
              </li>
            </ul>
            <h2 class="font-weight-medium">
               MoneyPly Perfect Performance landing Page
              </h2>
            <p>Businesses need access to development resources serspiciatis unde omnis iste natus error. The expert team at Brightscout specializes in building innovative technology solutions for enterprises. Our products and services unleash new levels of productivity, enhance collaboration amongst team members, and streamline large-scale communication. We utilize a powerful mix of exquisite design and innovative technology to resolve the issues that hold back many companies today.</p>
          </div>
          <p>Consequat dolor sit amet, consectetur adipiscing elit. Maecenas lobortis quam id lectus aliquet euismod. Ut sagittis et augue dui gravida Cras ultricies ligula sed magna dictum porta, Sed ut perspiciatis unde omnis iste natus error sit voluptat erci tation ullamco laboris nisi ut aliq uip.eiu smod tempor the incidi dunt ut labore et dolore magna aliqua. Phasellus eget purus id felis dignissim convallis Suspendisse et augue dui gravida Cras ultricies ligula sed magna dictum porta, Sed ut perspiciatis unde omnis iste natus error sit voluptat erci tation ullamco laboris nisi ut aliq uip.eiu smod tempor the incidi dunt ut labore et dolore magna aliqua. Ut atenim ad minim veniam, quis nostrud exerci tation abore et dolore magna aliqua. Uhbt atenim</p>
          <blockquote class="card bg-primary-soft border-0 p-5 mt-5 shadow">" Elizabeth ummm I'm telling bodge spend a penny say wellies say James Bond, bubble and squeak a such a fibber you mug quaint cack what.! " <span class="text-primary mt-2">- Romi Lust</span>
          </blockquote>
          <div class="d-md-flex justify-content-between mt-5 mb-5">
            <div>
              <h6 class="mb-2">Share: </h6>
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="text-dark ic-2x" href="#"><i class="la la-facebook"></i></a>
                </li>
                <li class="list-inline-item"><a class="text-dark ic-2x" href="#"><i class="la la-dribbble"></i></a>
                </li>
                <li class="list-inline-item"><a class="text-dark ic-2x" href="#"><i class="la la-instagram"></i></a>
                </li>
                <li class="list-inline-item"><a class="text-dark ic-2x" href="#"><i class="la la-twitter"></i></a>
                </li>
                <li class="list-inline-item"><a class="text-dark ic-2x" href="#"><i class="la la-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <div class="text-md-right mt-5 mt-md-0">
              <h6 class="mb-2">Tags: </h6>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="btn btn-link text-dark btn-sm bg-primary-soft m-1" href="#">Web Design</a>
                </li>
                <li class="list-inline-item"><a class="btn btn-link text-dark btn-sm bg-primary-soft m-1" href="#">UX/UI</a>
                </li>
                <li class="list-inline-item"><a class="btn btn-link text-dark btn-sm bg-primary-soft m-1" href="#">Software</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-carousel no-pb owl-loaded owl-drag" data-dots="false" data-items="2" data-sm-items="1" data-autoplay="true">
            
            
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2220px, 0px, 0px); transition: all 0.25s ease 0s; width: 3885px;"><div class="owl-item cloned" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/03.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Marketing</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">A brand for a company is like a reputation person.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/01.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Landing</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/02.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Sass</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/03.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Marketing</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">A brand for a company is like a reputation person.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item active" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/01.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Landing</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item cloned active" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/02.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Sass</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">The most powerfull template that make you.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 555px;"><div class="item">
              <div class="card border-0 bg-transparent m-4">
                <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">15
                  <br>July</div>
                <img class="card-img-top shadow rounded" src="{% static "website/images/blog/03.png"%}" alt="Image">
                <div class="card-body pt-5"> <a class="d-inline-block text-muted mb-2" href="#">Marketing</a>
                  <h2 class="h5 font-weight-medium">
                <a class="link-title" href="blog-single.html">A brand for a company is like a reputation person.</a>
              </h2>
                  <p>Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                </div>
                <div></div>
              </div>
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span class="la la-angle-left"><span></span></span></button><button type="button" role="presentation" class="owl-next"><span class="la la-angle-right"></span></button></div><div class="owl-dots disabled"></div></div>
          <div class="mt-5">
            <div class="mb-8"> <span class="badge badge-primary-soft p-2">
                  <i class="la la-commenting ic-3x rotation"></i>
              </span>
              <h2 class="mt-3">All Comments</h2>
            </div>
            <div class="media d-block d-md-flex">
              <img class="img-fluid shadow rounded" alt="image" src="{% static "website/images/thumbnail/01.jpg"%}">
              <div class="media-body mx-0 mx-md-5 mx-lg-8 my-5 my-md-0">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                  <h6>Ben Miller</h6>  <small class="text-muted">5 Days Ago</small>
                </div>
                <p>Seuismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et tantas semper delicatissimi.</p>
              </div> <a class="align-items-center d-inline-block btn btn-primary align-self-center" href="#"><i class="ti-comments mr-2"></i> Reply</a>
            </div>
            <div class="media d-block d-md-flex mt-8 ml-5 ml-md-8 bg-primary-soft rounded shadow p-5">
              <img class="img-fluid shadow rounded" alt="image" src="{% static "website/images/thumbnail/02.jpg"%}">
              <div class="media-body mx-0 mx-md-5 mx-lg-8 my-5 my-md-0">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                  <h6>Sasha James</h6>  <small class="text-muted">1 Hours Ago</small>
                </div>
                <p>Seuismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et tantas semper delicatissimi.</p>
              </div> <a class="align-items-center d-inline-block btn btn-primary align-self-center" href="#"><i class="ti-comments mr-2"></i> Reply</a>
            </div>
            <div class="media d-block d-md-flex mt-8">
              <img class="img-fluid shadow rounded" alt="image" src="{% static "website/images/thumbnail/03.jpg"%}">
              <div class="media-body mx-0 mx-md-5 mx-lg-8 my-5 my-md-0">
                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                  <h6>Keron Jolie</h6>  <small class="text-muted">2 Week Ago</small>
                </div>
                <p>Seuismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et tantas semper delicatissimi.</p>
              </div> <a class="align-items-center d-inline-block btn btn-primary align-self-center" href="#"><i class="ti-comments mr-2"></i> Reply</a>
            </div>
          </div>
          <div class="post-comments mt-5">
            <div class="mb-8"> <span class="badge badge-primary-soft p-2">
                  <i class="la la-commenting ic-3x rotation"></i>
              </span>
              <h2 class="mt-3">Leave A Comment</h2>
            </div>
            <form id="contact-form" class="row" method="post" action="http://themeht.com/MoneyPly/html/contact.php" novalidate="true">
              <div class="messages"></div>
              <div class="form-group col-sm-6">
                <input id="form_name" type="text" name="name" class="form-control border-0 bg-light" placeholder="Name" required="required" data-error="Name is required.">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group col-sm-6">
                <input id="form_email" type="email" name="email" class="form-control border-0 bg-light" placeholder="Email" required="required" data-error="Valid email is required.">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group mb-0 col-sm-12">
                <textarea id="form_message" name="message" class="form-control border-0 bg-light h-100" placeholder="Your Comment" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-sm-12">
                <button class="btn btn-primary mt-5">Post Comment</button>
              </div>
            </form>
          </div>
          <div></div>
        </div>
        <!-- End Blog Card -->
      </div>
    </div>
  </div>
</section>

</div>
{% endblock content %}