{% extends 'website/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<!--body content start-->
{% include 'website/includes/_navbar.html' %}

<div class="page-content">

<!--feature start-->
<!--hero section start-->

<section class="home-banner custom-pt-1 custom-pb-1 bg-primary" style="background-image: url({% static 'website/images/newhomeimage.jpg'%});background-position: center center; background-size: cover; background-repeat: no-repeat;" data-overlay="3">
  <div class="container h-100 my-auto">
    <div class="row text-center my-auto h-100">
      <div class="col-12 top-banner">
        <!-- Heading -->

        <div class="content">
        <h1 class="display-4 text-white text-center mb-5">
              Get your <span class="font-weight-bold"> Loan </span> instantly. 
            </h1>

           <div class="dropdown">
              <div class="dropdown">
                <a class="btn btn-lg btn-success ml-sm-2 mt-6 mt-sm-2" href="#" name="subscribe"> Get a Loan </a>
               <div class="dropdown-content">
                  <a class="btn btn-dark ml-0 d-none d-sm-block" href="/business-loan">Business loan</a>
                  <a class="btn btn-dark ml-0 d-none d-sm-block" role="button" href="/personal-loan">Personal loan</a>
               </div>
              </div>
           </div>
        </div>
        <!-- Text -->
        


      </div>
      {% comment %} <div class="col-12 col-lg-7 col-xl-6 order-lg-2">
        <div class="subscribe-form border rounded p-3">
        <h5 class="text-white">Fill the form to get started now</h5>
          <form id="mc-form1" method="POST" class="group">
          {% csrf_token %}
            <div class="align-items-center form-group mb-0">
            <div class="form-row">
              <div class="col-6">
                {% render_field form.first_name class+="form-control mb-3" placeholder="First name" required="required" %}
              </div>
              <div class="col-6">
                {% render_field form.last_name class+="form-control mb-3" placeholder="Last name" required="required" %}
              </div>
            </div>
            {% render_field form.mobile_number_1 class+="form-control mb-3" placeholder="Mobile Number" required="required" %}
            {% render_field form.email_id class+="form-control mb-3" placeholder="Email ID" required="required" %}
            <input type="checkbox" id="term-check" name="terms" id="" required="required" >
            <label for="term-check" class="text-white">I agree to terms and conditions</label> <br>
            <input class="btn btn-success ml-sm-2 mt-2 mt-sm-0" type="submit" name="subscribe" value="Get Started">
            </div>
          </form>
        </div>
      </div> {% endcomment %}
    </div>
    <!--  .row -->
  </div>
  <div class="container bottom-banner">
    <div class="row">
      <div class="col-12 mx-auto my-auto">
      <div class="row mb-1">
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="banner-point">
            <p class="mb-0 ml-3 text-white"> <span class="dot">&#8226;</span> Loan Amount: <span class="bold">  upto Rs. 2 Lakhs </span></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="banner-point">
            <p class="mb-0 ml-3 text-white">  <span class="dot">&#8226;</span> Tenure: <span class="bold">   30 - 365 Days </span></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="banner-point">
            <p class="mb-0 ml-3 text-white">  <span class="dot">&#8226;</span> Interest Rate: <span class="bold">  2% P.M. Onwards </span></p>
          </div>
        </div>
      </div>           
      </div>
      <div class="col-12 mt-0">
        <div class="text-center">
          <p style="font-size: 14px; color: white;">* Terms & Conditions Apply</p>
        </div>
      </div>
    </div>
  </div>
  <!-- / .container -->
</section>




<!-- <section id="services" class="pt-5 custom-pb-3 bg-dark position-relative" >
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-8 mb-8">
        <div> <span>

        <picture>
            <source srcset="{% static "website/images/logo/icon-light.webp"%}" type="image/webp">
            <source srcset="{% static "website/images/logo/icon-light.png"%}" type="image/png">
            <img src="{% static "website/images/logo/icon-light.png"%}" style="width: 65px; height: auto;" alt="">
          </picture>
              </span>
          <h2 class="mt-2 text-white">How to Apply?</h2>
          <p class="lead text-light mb-0"> <span class=""> You are just 5 steps away from applying for the loan.
</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 text-white">
        <span class="badge badge-primary-soft p-2">
                  <i class="la la-tachometer-alt ic-3x"></i>
              </span>
          <h2 class="mt-3 mb-0">Get Loan Ready in No Time</h2>
          <img src=" {% static 'website/images/illustrations/speed.svg' %} " style="height: 300px;" class="img-fluid" alt="" srcset="">
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="bg-primary-soft rounded px-5 py-2 mb-4">
          <div class="row">
          <div class="col-3 my-auto">
            <div class="text-center">
              <img class="img-fluid" src="{% static "website/images/icon/01.svg"%}" alt="">
            </div>
          </div>
          <div class="col-9 my-auto">
            <h5 class="m-0 text-light"> <span class="mr-2"> 1. </span> Enter your Personal Details</h5>
          </div>
          </div>
          {% comment %} <p class="mb-0">Serspiciatis unde omnis iste natus laudantium, totam rem aperiam.</p> {% endcomment %}
        </div>
        <div class="bg-primary-soft rounded px-5 py-2 mb-4">
          <div class="row">
          <div class="col-3 my-auto">
            <div class="text-center">
              <img class="img-fluid" src="{% static "website/images/icon/02.svg"%}" alt="">
            </div>
          </div>
          <div class="col-9 my-auto">
            <h5 class="m-0 text-light"> <span class="mr-2"> 2. </span> Download the CASHe Loan App</h5>
          </div>
          </div>
          {% comment %} <p class="mb-0">Serspiciatis unde omnis iste natus laudantium, totam rem aperiam.</p> {% endcomment %}
        </div>
        <div class="bg-primary-soft rounded px-5 py-2 mb-4">
          <div class="row">
          <div class="col-3 my-auto">
            <div class="text-center">
              <img class="img-fluid" src="{% static "website/images/icon/01.svg"%}" alt="">
            </div>
          </div>
          <div class="col-9 my-auto">
            <h5 class="m-0 text-light"> <span class="mr-2"> 3. </span> Fill up the application</h5>
          </div>
          </div>
          {% comment %} <p class="mb-0">Serspiciatis unde omnis iste natus laudantium, totam rem aperiam.</p> {% endcomment %}
        </div>
        <div class="bg-primary-soft rounded px-5 py-2 mb-4">
          <div class="row">
          <div class="col-3 my-auto">
            <div class="text-center">
              <img class="img-fluid" src="{% static "website/images/icon/04.svg"%}" alt="">
            </div>
          </div>
          <div class="col-9 my-auto">
            <h5 class="m-0 text-light"> <span class="mr-2"> 4. </span> Submit your KYC (Self-Attested)</h5>
          </div>
          </div>
          {% comment %} <p class="mb-0">Serspiciatis unde omnis iste natus laudantium, totam rem aperiam.</p> {% endcomment %}
        </div>
        <div class="bg-primary-soft rounded px-5 py-2 mb-4">
          <div class="row">
          <div class="col-3 my-auto">
            <div class="text-center">
              <img class="img-fluid" src="{% static "website/images/icon/rupee.png"%}" alt="">
            </div>
          </div>
          <div class="col-9 my-auto">
            <h5 class="m-0 text-light"> <span class="mr-2"> 5. </span> Select your approved loan</h5>
          </div>
          </div>
          {% comment %} <p class="mb-0">Serspiciatis unde omnis iste natus laudantium, totam rem aperiam.</p> {% endcomment %}
        </div>
      </div>
    </div>
    
  {% comment %} </div>
    <div class="shape-1" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div> {% endcomment %}
  <div class="shape-1 bottom" style="height: 200px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
</section>
 -->

<!--<section class="elig">
  <div class="container-fluid">
  <div class="row justify-content-center">
  
  <div class="col-10 justify-content-center align-items-center">
  
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-8 mb-8 mb-lg-0">
        <div class="mb-8"> 
          <h2 class="mt-3 font-w-5">Check your Eligibility Criteria</h2>
          {% comment %} <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p> {% endcomment %}
        </div>
      </div>
    </div>
    <!-- .row -->
   <!--  <div class="row align-items-center">
      <div class="col-xl-4 col-lg-4 mb-8 mb-lg-0">
        <div class="px-4 py-7 rounded hover-translate text-center">
          <div class="elig-img">
            <img class="img-fluid" src="{% static "website/images/illustrations/salaried.svg"%}" alt="">
          </div>
          <h5 class="mt-5 mb-3">Salaried Professional <br> (Minimum Salary - Rs. 15000/month)</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="px-4 py-7 rounded hover-translate text-center bg-white">
          <div class="elig-img">
            <img class="img-fluid" src="{% static "website/images/illustrations/age.svg"%}" alt="">
          </div>
          <h5 class="mt-5 mb-3">Minimum 21 years of age</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0">
        <div class="px-4 py-7 rounded hover-translate text-center">
          <div class="elig-img">
            <img class="img-fluid" src="{% static "website/images/illustrations/loan.svg"%}" alt="">
          </div>
          <h5 class="mt-5 mb-3">No Past Loan Defaults</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
    </div>
    </div>
  </div>
</section>


<section class="docs bg-dark">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-8 mb-8 mb-lg-0">
        <div class="mb-8"> 
          <h2 class="mt-3 font-w-5 text-white">You need to submit the following <br> "Self-attested" documents</h2>
          {% comment %} <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p> {% endcomment %}
        </div>
      </div>
    </div> -->
    <!-- / .row -->
    <!-- <div class="row align-items-center">
      <div class="col-xl-4 col-lg-4 mb-8 mb-lg-0">
        <div class="px-4 py-7 rounded  text-center">
          <div>
            <span class="badge badge-light-soft p-2">
                  <i class="la la-home ic-3x"></i>
              </span>
          </div>
          <h5 class="mt-3 mb-3 text-white">Aadhar Card</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="px-4 py-7 rounded text-center">
          <div>
          <span class="badge badge-light-soft p-2">
                  <i class="la la-id-card ic-3x"></i>
              </span>
            {% comment %} <img class="img-fluid" src="{% static "website/images/illustrations/age.svg"%}" alt=""> {% endcomment %}
          </div>
          <h5 class="mt-3 mb-3 text-white">PAN Card</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0">
        <div class="px-4 py-7 rounded text-center">
          <div>
            <span class="badge badge-light-soft p-2">
                  <i class="la la-university ic-3x"></i>
              </span>
          </div>
          <h5 class="mt-3 mb-3 text-white">6 Months Bank Statement</h5>
          {% comment %} <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p> {% endcomment %}
          {% comment %} <a class="btn-link">Read Details</a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
 -->



<!--Get started start-->
<!-- {% comment %} <section>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-6 mb-8 mb-lg-0 order-lg-1">
        <div class="d-flex justify-content-between mb-5">
          <div class="mr-3">
            <svg width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg>
          </div>
          <div>
            <h5 class="mb-2">Creative Design</h5>
            <p class="mb-0">Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-5">
          <div class="mr-3">
            <svg width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
              <polyline points="9 11 12 14 22 4"></polyline>
              <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
            </svg>
          </div>
          <div>
            <h5 class="mb-2">Easy To Start</h5>
            <p class="mb-0">Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="mr-3">
            <svg width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-wifi">
              <path d="M5 12.55a11 11 0 0 1 14.08 0"></path>
              <path d="M1.42 9a16 16 0 0 1 21.16 0"></path>
              <path d="M8.53 16.11a6 6 0 0 1 6.95 0"></path>
              <line x1="12" y1="20" x2="12" y2="20"></line>
            </svg>
          </div>
          <div>
            <h5 class="mb-2">Management</h5>
            <p class="mb-0">Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <div> <span class="badge badge-primary-soft p-2">
                  <i class="la la-exclamation ic-3x rotation"></i>
              </span>
          <h2 class="mt-3">We Have Experience Website building With Bootstrap</h2>
          <p class="lead mb-0">We use the latest technologies it voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div> <a href="#" class="btn btn-outline-primary mt-5">
                Learn More
              </a>
      </div>
    </div>
  </div>
</section> {% endcomment %} -->
<!--services start-->

<section>
  <div class="text-center">
  <div class="heading container">
    <h2 class="text-center font-weight-bold text-primary mb-4">Why Moneyply?</h2>
  </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="p-7 rounded bg-white shadow">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/why/fast.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">Instant Approval</h5>
                <p>Our lending partner's algorithms create a scorecard for every applicant and we give instant approvals based on it.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/why/online.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">100% Digital Journey</h5>
                <p>Our approval process is completely online with no physical visit required. You just need to fill in your personal details and you’re done!</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/why/min.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">Minimum Documentation</h5>
                <p>Just 4 self attested documents are required from you.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/why/safe.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">Safe and Secure</h5>
                <p>All systems and applications are using latest encryption technology to make your data safe and provide you the best loan offer.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/why/products.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">Products from Multiple Lenders</h5>
                <p>We work with a wide array of professional lenders and financial institutions.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0 why-point">
              <div>
                <div class="whyp-img row">
                  <div class="col-12 my-auto">
                    <img class="img-fluid my-auto" src="{% static "website/images/illustrations/assistant.svg"%}" style="width: 280px; height: auto;" alt="">
                  </div>
                </div>
                <h5 class="mt-4 mb-3">Awesome Customer Support</h5>
                <p>We believe in a customer centric approach. Our team is always ready to hear from you.  We are available both online and on the help line numbers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!--services end-->

<!-- <section class="custom-py-2 position-relative bg-dark parallaxie">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-12 col-lg-8 mb-8">
        <div> <span>
                  <picture>
            <source srcset="{% static "website/images/logo/icon-light.webp"%}" type="image/webp">
            <source srcset="{% static "website/images/logo/icon-light.png"%}" type="image/png">
            <img src="{% static "website/images/logo/icon-light.png"%}" style="width: 65px; height: auto;" alt="">
          </picture>
              </span>
          <h2 class="mt-4 text-white">Listen to what our Borrowers have to say</h2>
          {% comment %} <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p> {% endcomment %}
        </div>
      </div>
    </div>
    <!-- / .row -->
  <!-- </div>
  <div class="container-fluid text-center tests">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="owl-carousel owl-center" data-center="true" data-items="3" data-md-items="3" data-sm-items="1">
          <div class="item">
            <div class="card p-5 p-lg-8 bg-primary-soft border-0">
              <div>
                <img alt="Image" src="{% static "website/images/testimonial/vikas.png"%}" class="shadow-primary img-fluid rounded-circle d-inline">
              </div>
              <div class="card-body p-0 mt-5">
                <p class="text-light">A simple website and app to navigate, I was able to get my loan in 30 mins.</p>
                <div>
                  <h5 class="text-primary d-inline mb-0">Vikas Kumar, 24</h5>
                  <small class="text-muted font-italic">Graphic Designer, Patna</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card p-5 p-lg-8 bg-primary-soft border-0">
              <div>
                <img alt="Image" src="{% static "website/images/testimonial/sanjay.png"%}" class="shadow-primary img-fluid rounded-circle d-inline">
              </div>
              <div class="card-body p-0 mt-5">
                <p class="text-light">I got my loan approved and disbursed quickly to meet my emergency needs. Simple and fast to use.</p>
                <div>
                  <h5 class="text-primary d-inline mb-0">Sanjay Singh, 45</h5>
                  <small class="text-muted font-italic">Teacher, Gurgaon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card p-5 p-lg-8 bg-primary-soft border-0">
              <div>
                <img alt="Image" src="{% static "website/images/testimonial/gaurav.png"%}" class="shadow-primary img-fluid rounded-circle d-inline">
              </div>
              <div class="card-body p-0 mt-5">
                <p class="text-light">Simple, easy and user centric app, will use them again for my future loan requirements.</p>
                <div>
                  <h5 class="text-primary d-inline mb-0">Gaurav Pandey, 29</h5>
                  <small class="text-muted font-italic">Medical Representative, Delhi</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card p-5 p-lg-8 bg-primary-soft border-0">
              <div>
                <img alt="Image" src="{% static "website/images/testimonial/mohit.png"%}" class="shadow-primary img-fluid rounded-circle d-inline">
              </div>
              <div class="card-body p-0 mt-5">
                <p class="text-light">Very user friendly and simple, have already recommended to my friends.</p>
                <div>
                  <h5 class="text-primary d-inline mb-0">Mohit Kataria, 27</h5>
                  <small class="text-muted font-italic">Gym Trainer, Delhi</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-1" style="height: 200px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
  <div class="shape-1 bottom" style="height: 200px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
</section> --> -->



{% comment %} <section id="loans">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 col-xl-6 mb-8 mb-lg-0 order-lg-1">
        <div> <span class="badge badge-primary-soft p-2">
                  <i class="la la-exclamation ic-3x rotation"></i>
              </span>
          <h2 class="mt-3">Apply for a</h2>
        <nav class="mt-5">
          <div class="nav nav-tabs d-flex justify-content-left border-0" id="nav-tab" role="tablist"> 
            <a class="nav-item nav-link border-0 active" id="nav-tab-personal" data-toggle="tab" href="#tab-personal" role="tab" aria-controls="tab-personal" aria-selected="true" style="box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.25) !important;">Personal Loan</a>
            <a class="nav-item nav-link border-0" id="nav-tab-business" data-toggle="tab" href="#tab-business" role="tab" aria-controls="tab-business" aria-selected="false" style="box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.25) !important;">Business Loan</a>
          </div>
        </nav>
        </div>
        

        <div class="mt-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempora quia deleniti, totam molestiae quidem. Voluptates deleniti natus laboriosam ducimus. Ut similique veritatis eius aliquid mollitia sequi aut tempora at.</p>
          <div class="mb-3">
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">Loan For Designer</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">Loan For Developer</p>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="badge-primary-soft rounded p-1">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <p class="mb-0 ml-3">Loan For Freelancer</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-5">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="tab-personal" role="tabpanel" aria-labelledby="nav-tab-personal">
          <div class="shadow rounded p-5">
          <div class="image-form text-center">
            <img class="img-fluid" src="{% static "website/images/hero/02.png"%}" style="max-width: 300px;" alt="Image">
          </div>
          <form class="row" id="personal-form" method="post" action="#">
            <div class="messages"></div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName1">First Name</label>
              <input type="text" class="form-control input-1" id="InputName1" placeholder="First Name" required="required" data-error="Firstname is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName2">Last Name</label>
              <input type="text" class="form-control input-1" id="InputName2" placeholder="Last Name" required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="InputEmail1">Email address</label>
              <input type="email" class="form-control input-1" id="InputEmail1" placeholder="Enter email" required="required" data-error="Valid email is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="InputPhone">Phone</label>
              <input type="number" class="form-control input-1" id="InputPhone" placeholder="Phone">
            </div>
            <div class="col-12 mt-5">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        </div>
        <div class="tab-pane fade" id="tab-business" role="tabpanel" aria-labelledby="nav-tab-business">
          <div class="shadow rounded p-5">
          <img class="img-fluid mb-8" src="{% static "website/images/about/04.png"%}" alt="Image">
          <form class="row" id="business-form" method="post" action="#">
          {% csrf_token %}
            <div class="messages"></div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName1">Company Name</label>
              <input type="text" class="form-control input-1" id="InputName1" placeholder="Company Name" required="required" data-error="Firstname is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
              <label class="text-muted" for="InputName2">GSTIN</label>
              <input type="text" class="form-control input-1" id="InputName2" placeholder="GSTIN" required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="InputEmail1">Email address</label>
              <input type="email" class="form-control input-1" id="InputEmail1" placeholder="Enter email" required="required" data-error="Valid email is required.">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-12">
              <label class="text-muted" for="Inputpan">PAN/TAN</label>
              <input type="text" class="form-control input-1" id="Inputpan" placeholder="PAN/TAN">
            </div>
            <div class="col-12 mt-5">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        </div>
      </div>
        
      </div>      
    </div>
  </div>
</section> {% endcomment %}

<!--services start-->

{% comment %} <section class="custom-pt-1 custom-pb-2 bg-dark position-relative" data-bg-img="{% static "website/images/bg/02.png"%}">
  <div class="container">
  <h1 class="text-white text-center mb-5">Moneyply By The Numbers</h1>
    <div class="row text-center align-items-center justify-content-between">
      <div class="col-lg-3 col-md-4">
        <div class="counter rounded py-8 px-3 shadow mb-5 mb-md-0">
          <div class="counter-desc"> <span class="count-number text-primary display-4" data-to="234" data-speed="10000">234</span>
            <span class="display-4 text-light">k</span> 
            <h5 class="mb-0 mt-3 text-muted">Year Of Experience</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="counter rounded py-8 px-3 shadow mb-5">
          <div class="counter-desc"> <span class="count-number text-success display-4" data-to="234" data-speed="10000">234</span>
            <span class="display-4 text-light">k</span> 
            <h5 class="mb-0 mt-3 text-muted">Completed Project</h5>
          </div>
        </div>
        <div class="counter rounded py-8 px-3 shadow mb-5 mb-md-0">
          <div class="counter-desc"> <span class="count-number text-warning display-4" data-to="455" data-speed="10000">455</span>
            <span class="display-4 text-light">k</span> 
            <h5 class="mb-0 mt-3 text-muted">Member</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="counter rounded py-8 px-3 shadow">
          <div class="counter-desc"> <span class="count-number text-danger display-4" data-to="455" data-speed="10000">455</span>
            <span class="display-4 text-light">k</span> 
            <h5 class="mb-0 mt-3 text-muted">Satisfied Customers</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="shape-1" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
  <div class="shape-1 bottom" style="height: 200px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>
</section> {% endcomment %}

<!--services end-->


<!--quick register start-->


<!--form end-->

<!--quick register end-->

{% comment %} <section class="position-relative">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row  text-center">
      <div class="col">
        <h1 class="text-primary">Moneyply Featured In</h1>
        <div class="owl-carousel mt-8 no-pb" data-dots="false" data-items="4" data-md-items="4" data-sm-items="3" data-xs-items="2" data-margin="30" data-autoplay="true">
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/07.png"%}" alt="">
            </div>
          </div>
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/08.png"%}" alt="">
            </div>
          </div>
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/09.png"%}" alt="">
            </div>
          </div>
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/10.png"%}" alt="">
            </div>
          </div>
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/11.png"%}" alt="">
            </div>
          </div>
          <div class="item">
            <div class="clients-logo">
              <img class="img-fluid" src="{% static "website/images/client/12.png"%}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section> {% endcomment %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <button type="button" class="close" style="padding: 0; margin: 0;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Just one more step</h4>
      </div>
      <div class="modal-body">
      <div class="qr text-center">
        <img src="{% static 'website/images/qr.webp' %}" class="img-fluid" alt="">
      </div>
        <p>Scan this qr code or visit this <a href="#"> link </a> to complete your loan process!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Complete your loan process</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--body content end--> 

{% endblock content %}

{% block my_js %}
<script>
$(function() {
    $('.whyp-img').matchHeight();
    $('.why-point').matchHeight();
    $('.step-point .hover-translate').matchHeight();
    $('.elig-img img').matchHeight();
  });
</script>
{% endblock my_js %}